/node_modules
.env
/.vscode/
*.log
dist/
build/
*.tmp
 ../.vscode/
.DS_Store
./cypress/screenshots/
./cypress/videos/
./test/cypress/screenshots/
./test/cypress/videos/
screenshot/
mochawesome-report/
cypress/