name: CI API Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      API_BASE_URL: 'http://localhost:3000'

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      - name: Instalando as dependências
        run: npm install

      - name: Iniciar o servidor de aplicação
        run: npm start &

      - name: Executar os testes
        run: npm run test-and-report

      - name: Upload do relatório Mochawesome
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: mochawesome-report/

      - name: Finalizar servidor Node.js
        if: always()
        run: pkill node || true